@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  margin: 0;
}
.photograph-header img {
  background: #c4c4c4;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.photograph-header .ville {
  color: #901c1c;
  font-size: 24px;
}
.photograph-header .tagLine {
  color: #525252;
  font-size: 18px;
}

.media_section {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: normal;
}

.media {
  margin: 0px 20px;
}
.media div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.media div h2 {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}
.media div .like {
  color: #901c1c;
  font-size: 16px;
  font-weight: 500;
}
.media div .like span {
  cursor: pointer;
  margin-left: 10px;
}
.media img {
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.encart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  font-size: 24px;
  background-color: #db8876;
  width: 350px;
  height: 65px;
  border-radius: 5px;
  position: fixed;
  right: 2%;
  bottom: 0%;
  top: 91%;
  padding: 0px 20px;
}
.encart p {
  color: black;
  font-size: 27px;
  font-weight: 500;
  margin: 15px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  display: none;
  position: absolute;
  top: 3%;
  left: 29%;
  right: 29%;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
.modal header img {
  cursor: pointer;
  padding-bottom: 50px;
}
.modal header h2 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 30px;
}

form {
  font-family: 'DM Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
}
form label {
  color: #312e2e;
  font-size: 28px;
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: self-start;
  width: 100%;
  margin: 25px 0px;
}
form input {
  font-size: 25px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
}
form textarea {
  font-family: 'DM Sans', Arial, sans-serif;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 80px;
}
form .erreur {
  color: #980606;
  font-size: 26px;
  margin-bottom: 20px;
}

.contact_button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}
.contact_button:hover,
.contact_button:focus {
  background-color: #d3573c;
  color: black;
}

.groupe {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: normal;
  align-items: center;
  margin: 30px;
}

.pTrier {
  color: black;
  font-size: 18px;
  margin: 30px 30px 30px 100px;
}

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
  width: 200px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: white;
}

.styledSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #901c1c;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}

.styledSelect:active,
.styledSelect.active {
  background-color: #901c1c;
}

.options {
  display: none;
  position: absolute;
  top: 152%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  background-color: #901c1c;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.options li {
  border-top: 1px solid #ccc;
  margin: 10px;
  padding: 7px 10px;
  font-size: 18px;
  width: 80%;
}

.options li:hover,
li:focus-visible {
  background-color: #d3573c;
  color: white;
}

.photographer_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}
.photographer_section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-self: center;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 30%;
}
.photographer_section article a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin: 0;
}
.photographer_section article img {
  background: #c4c4c4;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.photographer_section article p {
  margin: 0;
}
.photographer_section article .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-self: auto;
  margin: 0;
  width: auto;
}
.photographer_section article .info h3 {
  font-weight: 400;
  margin: 0;
}
.photographer_section article .ville {
  color: #901c1c;
  font-size: 13px;
}
.photographer_section article .tagLine {
  color: black;
  font-size: 10px;
}
.photographer_section article .prix {
  color: #757575;
  font-size: 9px;
}

#figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 580px;
  width: 1380px;
  object-fit: cover;
}
#figure span {
  color: #901c1c;
  font-size: 72px;
}
#figure .fa-times {
  position: absolute;
  top: 5%;
  left: 92%;
}
#figure figcaption {
  color: #901c1c;
  font-size: 24px;
  position: absolute;
  bottom: 2%;
  left: 11%;
}

#figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#figure video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#figure .fa-angle-right {
  margin: 80px;
}
#figure .fa-angle-left {
  padding-right: 80px;
}

@media (max-width: 1150px) {
  .modal {
    padding-top: 75px;
  }
  .modal #titre {
    margin-bottom: 75px;
  }
  .modal img {
    position: absolute;
    right: 1%;
  }
}
@media (max-width: 1050px) {
  #figure {
    margin: 0;
    width: 50%;
  }
  #figure img,
  #figure video {
    width: 90%;
  }
  #figure .fa-times {
    left: 88%;
  }

  .photographer_section article {
    width: 50%;
    margin-right: 0px;
  }
}
@media (max-width: 900px) {
  .photograph-header {
    flex-direction: column;
    height: 600px;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .accueil {
    flex-direction: column;
  }
  .accueil h1 {
    margin: 0;
  }
  .accueil .logo {
    margin: 0;
  }

  .logo {
    margin: 0 67%;
  }

  .media {
    width: 100%;
  }
  .media img {
    width: 100%;
  }

  video {
    width: 100%;
  }

  .photographer_section article {
    width: 100%;
    margin-right: 0px;
  }
}
